.App {
  display: grid;
  justify-items: center;
  margin:20px;
  width: 100%;
}

.todo-list{
  list-style: none;
}

.completed{
  text-decoration: line-through; 
}


.formContainer{
  display:flex;
}

input, button{
  border:none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding:10px 14px;
}

select{
  border:none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding:10px 0px;

}

button{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color:white;
  background-color: dodgerblue;
  padding:10px 14px;
  font-size: 14px;
  border:none;
}
.todoContainer{
  border: 1px solid orange;
  margin-top: 35px;
  
}.todo-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top:10px;
}
