* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
body{
  background: linear-gradient(90deg, red, yellow, rgb(204, 204, 255));
}

.completed{
  text-decoration: line-through; 
}

h1, .formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

input, button, select{
  border:none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding:8px 12px;
  font-size: 1.5rem;

}

button{
  color:white;
  background-color: dodgerblue;
  border:none;
  font-size: 1.5rem;
}

.todoContainer{
  display: flex;
  justify-content: center;
  align-items: center;

}
.todoList{
  margin-top: 35px;
  list-style: none;

}
.todo-list{
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

li{
  flex:1;
  margin:10px;
}
